<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>BMI:</label>
    <p><%= bmi %></p>
    <% if (record.gender == 'male') { %>
     <p><%= fatMen %></p>
    <% } %>
        <p><%= calories %></p>
  
  <a href="/users/<%= user._id %>/calc">Back to Apps</a>
  <form action="/users/<%= user._id %>/calc/<%- record._id %>?_method=DELETE" method="post">
    <button type="submit">Delete record</button>
  </form>
</body>
</html>